@import '../../../SCSS/colorStack';

//---------------- Form-components ----------------//

.label {
  font-size: 25px;
  font-weight: 300;
  color: $darkGrey;
}

.input-name {
  height: 40px;
  width: 310px;
  color: $black;
  font-size: 15px;
  border: 1px solid $darkGrey;
  cursor: pointer;
  border-radius: 5px;
}

.password-container {
  display: flex;
  justify-content: center;
  .password-bar {
    width: 310px;
  }
}

.radio-button {
  .radio-text {
    font-size: 20px;
    color: $darkGrey;
  }
  .radio-input {
    height: 20px;
    width: 30px;
    color: $black;
    font-size: 15px;
    border: 1px solid $darkGrey;
    cursor: pointer;
    border-radius: 5px;
  }
}

.button {
  height: 40px;
  width: 310px;
  color: $white;
  font-size: 20px;
  background-color: $green;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
  &:hover {
    background-color: green;
  }
}
