@import '../../SCSS/colorStack';

.table-container {
  margin: 10px;
  padding: 0px;
}

.table {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid $darkGrey;
  th {
    background-color: $lightGrey;
    align-items: center;
    justify-content: center;
  }
  td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid $lightGrey;
  }
  .icons {
    cursor: pointer;
  }
}
