@import './colorStack';

//---------------- App ----------------//
.App {
  text-align: center;
}

//---------------- Header ----------------//
.Header-header {
  background-color: $darkGrey;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;

  h2 {
    font-weight: 300;
  }

  .Header-logo {
    height: 20vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .Header-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

//---------------- Form-Container ----------------//
.Form-container {
  margin-top: 1px;
  border: 1px solid $darkGrey;
  border-width: 10px;

  .container-heading {
    padding: 1px;
  }

  .container-element {
    padding: 1px;
  }
}

//---------------- Form-components ----------------//

.Label {
  font-size: 25px;
  font-weight: 300;
  color: $darkGrey;
}

.Input-name {
  height: 40px;
  width: 310px;
  color: $black;
  font-size: 15px;
  border: 1px solid $darkGrey;
  cursor: pointer;
  border-radius: 5px;
}

.Radio-button {
  .Radio-text {
    font-size: 20px;
    color: $darkGrey;
  }
  .Radio-input {
    height: 20px;
    width: 30px;
    color: $black;
    font-size: 15px;
    border: 1px solid $darkGrey;
    cursor: pointer;
    border-radius: 5px;
  }
}

.Button {
  height: 40px;
  width: 310px;
  color: $white;
  font-size: 20px;
  background-color: $green;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
  &:hover {
    background-color: green;
  }
}
